@font-face { 
    font-family: SolaimanLipi; 
    src: local('SolaimanLipi'),
         url('../fonts/solaimanlipi.woff') format('woff'),
         url('../fonts/solaimanlipi.woff2') format('woff2');
    }
body {
    margin: 0;
    padding: 0;
	font-family:SolaimanLipi;
	font-size:15px;
}

img {
    border: 0;
	max-width:100%;
}
ul{
	padding-left:0;
}
ul li{
	list-style:none;
	display:inline-block;
}

ul.dropdown-menu li{
    display: block;
    padding: 5px 0;
    border-bottom: solid 1px #eee;
    
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ 
    color:#FF4A58;
    background: #fff;
    
}



a{
	color:#000000;
}
h2{
	font-size:22px;
}
h3{
	font-size:22px;
}
a:hover,a:focus {
	text-decoration:none;
	color:#336699;
}
.padding-left-none{
	padding-left:0 !important;
}
.padding-right-none{
	padding-right:0;
}
.padding-bottom-10{
	padding-bottom:10px;
}
.margin-top-20{ margin-top:20px;}
.margin-bottom-20{ margin-bottom:20px;}

.margin-top-40{ margin-top:40px;}
.margin-bottom-40{ margin-bottom:40px;}

.margin-top-0{
	margin-top:0;
}
.margin-top-0{
	margin-bottom:0;
}
.image_wrapper{
		position:relative;
	}
                                                           /* common */
ul.news-list li{
	display:block;
	border-top:1px solid #DCDCDC;
	padding:8px 0;
}
ul.news-list li a{
	font-size:18px;
	color:#484848;
}
ul.news-list li a:hover{
	color:#336699;
}

ul.update-comment{
	padding-left:0;
	margin-bottom:0;
}
ul.update-comment li:first-child{
	padding-right:10px;
}
ul.update-comment li i{
	color:#FF4D3C;
}
.image_wrapper .image {
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.image-align-tc {
    background-position: top center !important;
}
.image_wrapper .image a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.background-lenear{
    background-image: linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.7) 70%);
}
.background-lenear-cat{
    background-image: linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,.5) 70%);    
    /* background-image: linear-gradient(rgba(0,0,0,0) 25%, rgb(0, 51, 102) 70%); */
}
.title-cat{
	position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding-left: 10px;
	padding-right:10px;
	left:15px;
	right:15px;
}
.no-padding {
    padding: 0 !important;
}
 
.ads{ margin-bottom:20px;}
h2 a{
	color:#017AC3;
}
.carousel-control{
	width:5%;
}
h3{ line-height: 26px;}	
                                                             /* header section */

.header-top-section{
	background:#017AC3;
}
.header-top-section ul{
	margin-bottom:0;
}
.header-top-section ul li{
	padding:5px 30px;
	color:#ffffff;
	font-weight: normal;
    font-size: 15px;
	}
.header-top-section .side-1 li:first-child{
	padding-left:0;
}	
.header-top-section .side-2 li:last-child{
/*	padding-right:0;*/ 
}
.header-top-section ul li:not(:last-child){
	border-right:1px solid #ffffff;
	padding-top:1px;
	}
.header-top-section ul li a{
	color:#ffffff;
    font-size: 15px;
	}
.header-menu-section{
	border-bottom:1px solid #B9B9B9;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.navbar-brand{
	padding:0;
	padding-top: 6px;
}

.navbar-header img:hover{
	opacity:.7;
}

.navbar-nav {
    float: right;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 18px;
}
.navbar-collapse{
	padding-left:0;
	padding-right:0;
}	
.nav>li>a{
	color:#565656;
	padding:10px 17px;
}
.nav>li:first-child >a{
	padding-left:0;
}
.nav>li:last-child >a{
	padding-right:0;
}
.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus{
	background:#ffffff;
	color:#FF4A58;
}
.nav .open>a:focus {
    background-color: #fff;
    border-color: #337ab7;
}
.navbar-default .nav .open > a, .navbar-default .nav .open > a:hover, .navbar-default .nav .open > a:focus{
	background:#fff;
	color:#FF4A58;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background:#fff;
}


.dropdown-menu{
	border:none;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
	overflow:hidden;
	padding-top:25px;
/*	top:65px;*/
}

.header-menu-section .mega-menu{
	width:719px;
	padding-left:15px;
}
.header-menu-section .mega-menu ul li{
	display:block;
}
.header-menu-section .mega-menu ul li:first-child{
	padding-top:0;
}
.header-menu-section .mega-menu ul li{
	padding:4px 0;
}
.header-menu-section .mega-menu ul li a{
	color:#5D5D5D;
}
.header-menu-section .current_menu_item a{
	color:#FF4A58 !important;
}
.header-menu-section .mega-menu .side-1{
	border-right:1px solid #D3D3D3;
}
.header-menu-section .mega-menu .side-2 h3{
	margin-top:0;
	font-size:20px;
	padding-top:2px;
}
.header-menu-section .mega-menu .side-2 p{
	
}
.header-menu-section  .navbar{
	padding-top:20px;
	margin-bottom:14px;
}
.header-ad-section{
	padding-top:25px;
	padding-bottom:25px;
}

                                                   /* breaking news section */

.breaking .btn-breaking{
	float:left;
	background:#FF4848;
	color:#ffffff;
	border-radius:0;
}
.breaking-link{
	background:#F7F7F7;
	padding-top: 7px;
	border-top:1px solid #EAEAEA;
	border-bottom:1px solid #EAEAEA;
	border-right:1px solid #EAEAEA;
	margin:0;
	padding-bottom:3px;
}
.breaking-link a{
	padding-left:20px;
	color:#FF686D;
}

                                                     /* main news section */
.main-news-section{
	margin-top:20px;
	overflow:hidden;
}
.sub-cat a, .special-cat a, .selected-cat a{
	 color:#fff;
     font-size:15px;	 
	}
.sub-cat a:hover, .special-cat a:hover, .selected-cat a:hover{
	 color:#ffc107; 	 
	}
	
	
.sub-title,.sub-news .sub-title, .category-section .category-sub-news .sub-title{
	 line-height: 18px;
	 font-size: 15px;
}

.top-news{
	position:relative;
}

.top-news ul.update-comment li:first-child {
    padding-right: 60px;
}
.top-news .title-cat{
	position: absolute;
    bottom: 0px;
	right:29px;
	left:15px;
    color: #ffffff;
	padding-left:30px;
	padding-top:10px;
}
.top-news .title-cat .top-cat{
	padding:2px 10px;
	border:1px solid #ffffff;
	display:inline-block;
}
.top-news .title-cat h2{
	margin-top:5px;
	font-size:24px;
	line-height:30px;
}


.sub-news .side-1{
	float:left;
	padding-right:20px;
	width:40%;
}
.sub-news .image_wrapper{
		height:76px;
		width:92px;
	}
.sub-news .sub-image-title{
	display:block;
	overflow:hidden;
	margin-bottom:27px;
}
.sub-news .sub-image-title.last-sub-mews{
	margin-bottom:0px;
}
.sub-news .sub-image-title.last{
	margin-bottom:0px;
}
.sub-news .sub-cat{
	background:#003366;
	color:#ffffff;
	display:inline-block;
	padding:1px 9px;
	font-size:13px;
	margin-bottom:3px;
}
.sub-news .sub-title{
	margin-bottom:0;
	line-height: 16px;
    font-size: 13px;
}
.sub-news .update{
	font-size:12px;
	margin-bottom: 0;
}

.special-news{
	position:relative;
	margin-bottom:20px;
}
.video-icon{
	position:absolute;
	top:5px;
	left:5px;
	color:#fff;
	background:#C21C2A;
	height:30px;
	width:30px;
	line-height:32px;
	vertical-align:middle;
	text-align:center;
	border-radius:17px;
}
.special-news:last-child{
	margin-bottom:0px;
}

.special-title-cat{
	position:absolute;
	bottom:0px;
	color:#ffffff;
	padding-left:10px;
	padding-right:10px;
	right: 0;
    left: 0;
}
.special-cat{
	padding:0px 10px;
	border:1px solid #ffffff;
	display:inline-block;
	font-size:12px;
	margin-bottom:5px;
}
.special-title{
	line-height:20px;
	margin-bottom:5px;
}
.special-title a{
	color:#ffffff;
    font-size:16px;	
}
.special-title a:hover{
	color:#ffc107;	
}
.title-cat a{
	color:#ffffff;
}
.title-cat a:hover{
	color:#ffc107;
}




                                              /* seleted news section */
.selected-news-section{
	background:#F7F7F7;
	padding-top:30px;
	margin-top:50px;
}
.selected-news-section .multi-slide{
	margin-left:-15px;
	margin-right:-15px;
}
.selected-news-section h2{
	margin-top:0;
	color:#017AC3;
}
.selected-news{
	position:relative;
	color:#ffffff;
}
.selected-news ul.update-comment li:first-child{
    padding-right: 40px;
}
.selected-title-cat{
	position: absolute;
    bottom: 0px;
    padding-left: 5px;
	padding-right:5px;
    width: 100%;
}
.selected-cat{
	padding:0px 10px;
	border:1px solid #ffffff;
	display:inline-block;
	font-size:12px;
	margin-bottom:5px;	
}
.owl-theme .owl-nav  i{
	font-size:24px;
	font-weight:bold;
}
.owl-theme .owl-nav .disabled i:hover{
	opacity:1;
}
.owl-theme .owl-nav  i:hover{
	opacity:.5;
}
.selected-title a{
	color:#ffffff;
	font-size:16px;
}
.selected-title a:hover{
	color:#ffc107;
}



.carousel-ads{
	margin-top:10px;
	margin-bottom:10px
}
.carousel-ads div[class^="col-"]{
	padding-top:10px;
	padding-bottom:10px
}
.online-poll{
	border:1px solid #D1D1D1;
	border-radius:15px;
	overflow:hidden;
	background:#FFFFFF;
	margin-top:40px;
}
.online-poll h2{
	background:#F1F1F1;
	margin-top:0;
	padding:10px;
	font-size:24px;
}
.poll-content{
	padding:10px;
}
.poll-content h3{
	margin-top:0;
	font-size:20px;
}
.seperator{
	border:1px solid #D1D1D1;
	font-size:0;
	width:50%;
}
.poll-content form{
	padding-top:15px;
	padding-bottom:10px;
}
.vote-bottom{
	padding-bottom:30px;
}
.vote-bottom .side-2{
	padding-left:30px;
}
.vote-bottom .side-1, .vote-bottom .side-2{
	float:left;
}
.btn-vote, .btn-vote:hover{
	background:#FF4848;
	color:#ffffff;
	padding:2px 22px;
}

.vote-result a{
	color:#838383;
}

                                                  /* gallery-latest-section */

												  
.gallery-latest-section{
	margin-top:50px;
}
.gallery-latest-section .latest-top .image_wrapper{
		height:66px;
		width:87px;
		position:relative;
	}
.latest{
	border:1px solid #E1E1E1;
	border-radius:4px;
}
.latest .nav-tabs{
	background:#EAEAEA;
}
.latest .nav-tabs, .latest .nav-tabs>li>a, .latest .nav-tabs>li.active>a, .latest .nav-tabs>li.active>a:hover,  .latest .nav-tabs>li.active>a:focus{
	border:none;
	border-radius:0;
	font-weight:bold;	
}
.latest .nav-tabs>li:first-child>a{
	border-radius:4px 0 0 0;
	padding-left:20px;
}
.latest .nav-tabs>li:last-child>a{
	padding-right:20px;
}
.latest .nav>li>a{
	padding:10px 20px;
	font-size:16px;
}
.latest .tab-content{
	background:#F5F5F5;
	padding:20px 10px 0 10px;
}
.latest-top{
	overflow:hidden;
}
.latest-top .side-1{
	float:left;
	padding-right:20px;
}

.latest h3{
	margin-top:0;
	margin-bottom:0;
}
.latest h3 a{
	color:#F31C24;
	font-size:22px;
	line-height:28px;
}
.latest p{}
.latest .news-list li:last-child{
	border-bottom: 1px solid #DCDCDC;
}
.latest .news-list li a{
	color:#161616;
}
.latest-all{
	display:block;
	font-size:18px;
	color:#DE3C4B;
	padding:0 20px 10px 0;
}


.gallery-page-bk {background:#333333d4;}

h1.module-heading {
    font-size: 36px;
    margin: 0;
    padding: 0;
	color:#fff;
	
}
.section-back{
	padding-bottom:5px; margin-bottom:10px;
	border-bottom: 1px solid #CCC;
}

.section-back a {
    color: #FF8000;
    display: inline-block;
     font-size:20px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
   
}

.section-back span.divider {
    color: #999;
    line-height: 1.2em;
    margin: 0 3px;
}


 span.timestamp {
    color: #999;
     font-size:20px;
    
    font-weight: 400;
    vertical-align: inherit;
   line-height:1.2;
}

 .current-channel-title {
    color: #fff;
    display: inline-block;
   margin-top:10px;
    font-size: 28px;
    font-weight: 500;
    position: relative;
    text-transform: none;
}


@media only screen and (min-width: 1381px) {	

.slide-image {
    display: table;
    width: 100%;
    height: 520px;
    border: 1px solid #4A4A4A;
    overflow: hidden;
    position: relative;
    text-align: center;
}


 .slide-desc-share {
    position: absolute;
    top: 0px;
    left: 820px;
    display: block;
    width: 300px;
}
}


@media only screen and (min-width: 1201px) and (max-width: 1380px) {	

.slide-image {
    display: table;
    width: 100%;
    height: 520px;
    border: 1px solid #4A4A4A;
    overflow: hidden;
    position: relative;
    text-align: center;
}


 .slide-desc-share {
    position: absolute;
    top: 0px;
    left: 790px;
    display: block;
    width: 300px;
}
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {	

.slide-image {
    display: table;
    width: 100%;
    height: 520px;
    border: 1px solid #4A4A4A;
    overflow: hidden;
    position: relative;
    text-align: center;
}


 .slide-desc-share {
    position: absolute;
    top: 0px;
    left: 790px;
    display: block;
    width: 300px;
}
}


@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  
.slide-image {
    display: table;
    width: 100%;
    height: 480px;
    border: 1px solid #4A4A4A;
    overflow: hidden;
    position: relative;
    text-align: center;
}


 .slide-desc-share {
    position: absolute;
    top: 0px;
    left: 730px;
    display: block;
    width: 250px;
}
}



@media only screen and (min-width: 992px) and (max-width: 1023px) {
  
.slide-image {
    display: table;
    width: 698px;
    height: 480px;
    border: 1px solid #4A4A4A;
    overflow: hidden;
    position: relative;
    text-align: center;
}


 .slide-desc-share {
    position: absolute;
    top: 0px;
    left: 730px;
    display: block;
    width: 250px;
}
}





.slide-image .slide-image-enclosure {
    display: table-cell;
    vertical-align: middle;
}


.gallery-menu li.active a, .gallery-menu li a:hover{
	color:#F01B1D;
}	
.gallery .side-1{
	float:left;
}
.slider-left-cat{
	margin-bottom:0;
}
.slider-left-cat li {
	padding:0 10px 0 0;
	color:#017AC3;
	font-weight:bold;
}
.slider-left-cat li:nth-child(2){
	padding-bottom:5px;
}
.slider-left-cat li a{
	font-weight:bold;
	font-size:18px;
	color:#017AC3;
}
.slider-right-cat{
	margin-bottom:0;
}
.slider-right-cat  li.active a{
	color:#F01B1D;
}
.slider-right-cat  li a{
	font-size:16px;
	padding-left:20px;
}
.gallery .carousel-control{
	background:none;
}
.gallery .carousel-control:hover, .gallery .carousel-control:focus{
	opacity:.7;
}
.gallery .carousel-control.left{
	background-image: linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,0) 70%);
}
.gallery .carousel-control .chevron-left {
    left: 0%;
    margin-left: 0px;
	background:#000000;
	border:1px solid #ffffff;
	padding:10px;
	border:1px solid #ffffff;
	font-size:34px;
}
.gallery .carousel-control .chevron-left {
    position: absolute;
    top: 46%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}
.gallery .carousel-control .chevron-right {
    right: 0;
    margin-right: 0;
	background:#000000;
	padding:10px;
	border:1px solid #ffffff;
	font-size:34px;
}
.gallery .carousel-control .chevron-right {
    position: absolute;
    top: 46%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}

@media only screen and (max-width: 991px) {

.gallery .carousel-control .chevron-left,.gallery .carousel-control .chevron-right {
     
    top: 25%;
    
}

}
.gallery .carousel-control .chevron-left, .gallery .carousel-control .chevron-right {
    height: 55px;
	color:#ffffff;
}
.gallery .carousel-control .chevron-left:hover, .gallery .carousel-control .chevron-right:hover {
	color:#7A7B7D;
}

.gallery .title-cat{
	padding-bottom:35px;
	padding-top:30px;
	left:0;
	right:0;
}
.gallery-text .latest-video .title-cat {
     right: 0px; 
}
.gallery .title-cat h3{
	margin-bottom:5px;
}
.gallery .title-cat{
	display:none;
}
.gallery .carousel-indicators {
    bottom: 5px;
}
.gallery .carousel-indicators .active{
	width:15px;
	height:15px;
	background:#ffffff;
}
.gallery .carousel-indicators li:hover{
	background:#ffffff;
}
.gallery .carousel-indicators li{
	width:15px;
	height:15px;
	background:#7A7B7D;
	border:none;
}

.slider-share{
 
	padding-top: 5px;
	padding-bottom:30px;
	margin-bottom: 40px;
	 
}

.padding-top-40{ padding-top:40px;}


.slider-share .carousel-inner{
	overflow: inherit;
}
.slider-share .carousel-inner .item{
	text-align: center;
}
.slider-share .carousel{
	 
}
.slider-share .carousel-inner > .item > img{
	display: inline;
}

.slider-share .social{
	 
}
.slider-share .social a{
	 
}

.slider-share .facebook:hover {
    background-color: #3b5998;
	border-color:#33333300;
}
.slider-share .twitter:hover {
    background-color: #1ebef0;
	border-color:#33333300;
}

.slider-share .google-plus:hover {
    background-color: #dc4a38;
	border-color:#33333300;
}
 
 
.slider-share .linkedin:hover {
    background-color: #025DAC;
	border-color:#33333300; 
}

.slider-share ul.social li a { border:solid 1px #fff; background: transparent; color:#fff}

.slider-share .social i {
	 
}
                                                      /* bangladesh-foreighn-section */

													  
.bangladesh-foreighn-section{
	margin-top:10px;
}
.btn-detail, .btn-detail:hover{
	background:#FF4848;
	color:#ffffff;
	padding:7px 59px;
}
.bangladesh-top{
	padding-bottom:35px
}
.bangladesh-bottom{
	padding-bottom:15px;
	overflow:hidden;
}
.bangladesh-bottom .side-1{
	float:left;
	width:52%;
	padding-right:20px;
}
.bangladesh-bottom .side-2{
	float:left;
	width:48%;
}

.bangladesh-bottom .side-1 .side-1-left{
	width:43%;
	float:left;
	padding-right:30px;
}
.bangladesh-bottom .side-2 .side-2-left{
	width:44%;
	float:left;
	padding-right:30px;
}
.bangladesh-bottom .side-1 .side-1-right{
	width:57%;
	float:left;
}
.bangladesh-bottom .side-2 .side-2-right{
	width:56%;
	float:left;
}



                                                            /* economic-free-section */

.economic-free-section{
	background:#F7F7F7;
	margin-top:30px;
	padding-top:20px;
	padding-bottom:30px;
}

.economic-free-section .news-list li:first-child{
	border-top:none;
}
.economic-free-section .economic-news .title-cat {
    right: 15px;
    left: 15px;
}
                                                           /* science-sports-section */
.science-sports-section{
	padding-top:30px;
}
.sports-top{
	padding-bottom:40px;
}
                                                         /* entertainment-life-style-section */
.entertainment-life-style-section{
	margin-top:20px;
}
.entertainment .entertainment-top{
	margin-bottom:30px;
}
.entertainment-life-style-section  .life-style .news-list li:first-child {
    border-top: none;
}
.entertainment-life-style-section .update-comment{
	margin-bottom:0;
}

                                                           /* social section */

.social-section{
	background:#017AC3;
	margin-top:50px;
	padding-top:15px;
	padding-bottom:5px;
}
.social-section .side-1{
    padding-top:6px;
}
.social-section .side-1 img:hover{
	opacity:.9;
}
.social-section .side-2 a:hover{
	color:#ffffff;
}
.social-section .side-2 .facebook:hover{
    color: #3b5998;
}
.social-section .side-2 .twitter:hover{
    color: #1ebef0;
}
.social-section .side-2 .google-plus:hover{
    color: #dc4a38;

}
.social-section .side-2 .youtube:hover{
    color:#C52F30;
}
.social-section .side-2 .linkedin:hover{
    color:#025DAC;
}

ul.social {}
ul.social li{
	padding-right:20px;
}
ul.social li:last-child{
	padding-right:0px;
}
ul.social li a{
	border-radius:20px;
	background:#ffffff;
	height:40px;
	width:40px;
	display:inline-block;
	color:#939393;
	text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
/* ul.social li a:hover{
	color:#0063EC;
} */
ul.apps li{
	padding-right:20px;
}
ul.apps li:last-child{
	padding-right:0px;
}



                                                        /* footer section */
.footer-section{}
.footer-section .footer-top{
	padding-top:50px;
	padding-bottom:15px;
	border-bottom:1px solid #D2D2D2;
	
}
.footer-section p{
	color:#555555;
}
.footer-section .footer-top h2{
	color:#393939;
	margin-bottom:20px;
	margin-top:0;	
}
.footer-section .footer-top ul{
	padding-left:0;
	margin-bottom:0;
}
.footer-section .footer-top ul li{
	display:block;
	padding-bottom:10px;
}
.footer-section .footer-top ul li:last-child{
	padding-bottom:0px;
}
.footer-section .footer-top ul li a{
	color:#8F8989;
}
.footer-section .footer-bottom{
	padding-top:35px;
	padding-bottom:35px;
}
.footer-section .footer-bottom ul{
	
}
.footer-section .footer-bottom ul li{
	padding-right:10px;
}
.footer-section .footer-bottom ul li a{
	color:#555555;
}

                                                         /* Detail page */


.breadcrumb{
	background:#F7F7F7;
    padding:10px 5px;	
	margin-top:20px;
	margin-bottom:40px;
}
.detail-latest-section{
	 
	padding-bottom:75px;
}
.detail-latest-section .image_wrapper{
	height:630px;
}
.detail-latest-section .detail-top,.album.picture  figure a{
	position:relative;
}
 .album.picture  figure a{
	display:block;
}

.detail-latest-section .detail-top .expand, .album.picture .expand{
	position:absolute;
	top:10px;
	right:10px;
	width:42px;
	height:42px;
	background:#000;
	border-radius:21px;
	color:#fff;
	text-align:center;
	line-height:42px;
	vertical-align:middle;
	cursor:pointer;
	font-size:24px;
}
.detail-latest-section  .caption{
	overflow:hidden;
	position:absolute;
    bottom:0;	
	width:100%;
	background:rgba(0, 0, 0, 0.5);
}
.detail-latest-section .caption .side-1{
	float:left;
}
.detail-latest-section .caption .side-1 h2{
	border-right:3px solid #FF0105;
	padding-left:10px;
	padding-right:10px;
	color:#ffffff;
	margin-top:10px;
	padding-top:3px;
}
.detail-latest-section .caption .side-2{
	float:left;
}
.detail-latest-section .caption .side-2 h3{
	font-size:18px;
	color:#ffffff;
	padding-top:3px;
	padding-left:10px;
	margin-top:10px;
}
.detail-cat{
	background: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 6px 10px;
    font-size: 18px;
    margin-top: 20px;
}
.detail-heading{
	border-bottom:1px solid #9A9A9A;
	margin-bottom:30px;
}
.detail-heading .sub-title{
	color:#F80000;
	margin: 0;
}
.detail-heading .title{
	color:#010101;
	font-size:30px;
	line-height:1.5;
	font-weight:bold;
	    margin: 10px 0;
}
.detail-top figure{
    display: table;
    position: relative;
	
}
.detail-heading .social .fa-facebook-square, .social-bottom .social .fa-facebook-square{
	color:#415997;
	padding-right:10px;
}
.detail-heading .social{ height:58px; line-height:58px;}
.detail-heading .social p{ padding-top:10px;}
.detail-heading .social .fa-twitter-square, .social-bottom .social .fa-twitter-square{
	color:#0380AC;
	padding-right:10px;
}
.detail-heading .social .fa-google-plus-square,.social-bottom .social .fa-google-plus-square {
	color:#DF1916;
}
.detail-content blockquote {
	background:#FAFAFA; 
	float:left; 
	max-width:480px; 
	margin-right:45px; 
	margin-bottom:15px;
	border-radius:10px;
	border-left: 0;
	padding:30px 30px 30px 10px;
	}
.detail-content blockquote p{    
    border-left: 5px solid #FE7A78;
    padding-left: 20px;
	font-size: 22px;
    line-height: 34px;
	}
	

.more-news .title-cat {
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding-left: 10px;
	right: 15px;
    left: 15px;
	padding-bottom:10px;
}
.more-news .title-cat p{
	margin-bottom:0;
}
.more-news .title-cat h2{
	margin-top:0;
	margin-bottom:0px;
}
.more-news .title-cat h2 a{
	font-size:14px;
}
.more-news .title-cat .top-cat {
    padding: 0px 10px;
    border: 1px solid #ffffff;
    display: inline-block;
}
.more-news .update-comment {
	margin-bottom:0;
}
.detail-latest .image_wrapper{
	position:relative;
    height: 80px;
    width: 80px;
}

.detail-latest-section .more-news .image_wrapper{
	height:150px;
}	
		

.detail-latest .tab-content{
	padding-top:30px;
	padding-bottom:25px;
}
.detail-latest{
	border-top:5px solid #E4E4E4;
	border-bottom:5px solid #E4E4E4;
	margin-bottom:30px;
}
.detail-latest .nav-tabs>li>a, .detail-latest .nav-tabs>li.active>a, .detail-latest .nav-tabs>li.active>a:hover,  .detail-latest .nav-tabs>li.active>a:focus{
	border:none;
	border-radius:0;
    font-weight:bold;	
}
.detail-latest .nav-tabs>li.active>a, .detail-latest .nav-tabs>li>a:hover, .detail-latest .nav-tabs>li.active>a:hover,  .detail-latest .nav-tabs>li.active>a:focus{
	border-bottom:5px solid #E54C3E;
}
.detail-latest .nav-tabs>li:first-child>a{
	padding-left:0px;
}
.detail-latest .nav-tabs>li:last-child>a{
	padding-left:22px;
}
.detail-latest .nav>li>a{
	padding:20px 24px;
	font-size:16px;
	margin-right:0;
}
.detail-latest .side-1 {
    float: left;
    padding-right: 20px;
}

.latest-news{
	overflow:hidden;
	padding-bottom:20px;
}
.detail-heading .writer-info li{
		vertical-align:middle;
		font-size: 18px;
	}
	
.detail-heading .writer-info li.writer{
		padding-left:10px;
		padding-right:20px;
	}	
.detail-heading .clock, .detail-heading .writer-info li.writer{
	color:#FF4D3C;
}
                                          /* category-section */

										  
.category-section .breadcrumb{
	margin-bottom:50px;
}
.category-section  .category-top .title-cat .top-cat {
    padding: 2px 10px;
    border: 1px solid #ffffff;
    display: inline-block;
}
.category-section  .category-top .title-cat h2 {
    margin-top: 5px;
    font-size: 24px;
}	
.category-section  .category-top .title-cat {
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding-left: 10px;
    right: 15px;
    left: 15px;
}

.category-sub-top{
	margin-top:50px;
}
.category-sub-bottom{
	margin-top:40px;
}
.category-section .category-sub-news .sub-image-title{
	overflow:hidden;
}
.category-section .category-sub-news .side-1 {
    float: left;
    padding-right: 20px;
    width: 43%;
}
.category-section .category-sub-news .side-2 {
    float: left;
    padding-right: 20px;
    width: 57%;
}
.category-section .category-sub-news .image_wrapper{
	height:94px;
}
.category-section .category-sub-news .sub-cat {
    background: #000000;
    color: #ffffff;
    display: inline-block;
    padding: 1px 9px;
    font-size: 13px;
    margin-bottom: 3px;
}
.category-section .category-sub-news .sub-title {
    line-height:16px;
}

.category-more-news{
	margin-top:50px;
}
.category-more-news  .more-title{
	margin-top:0;
	margin-bottom:20px;
}
.more-image .image_wrapper{
	height:164px;
}

.listing-view-action span.active {
    color: #000;
}
.listing-view-action span {
    color: #888;
    cursor: pointer;
}
.category-more-news .news-wrapper{
	overflow:hidden;
}
.item-list{
	overflow:hidden;
}
.item-list{
	margin-bottom:45px;
	overflow:hidden;
}
.item-list.last-list{
	margin-bottom:0px;
}
.make-compact{
	width:25%;
	float:left;
	min-height:267px;
}
.make-compact .photobox{
	width:100%;
}
.make-compact:first-child, .make-compact:nth-child(5) {  
	padding-left:0px;
	padding-right:10px;
}
.make-compact:nth-child(4), .make-compact:nth-child(8) {  
	padding-left:10px;
	padding-right:0px;
}
.make-compact{
	padding-right:10px;
	padding-left:10px;
}
.make-compact p{
	display:none;
}
.item-list p{
	line-height:30px;
	margin-bottom:0;
}
.item-list h3{
	margin-top:10px;
}
.category-more-news  .pagination{
	margin-bottom:30px;
}
.category-more-news  .pagination > li > a{
	margin-right:10px;
	border-radius:4px;
	background:#EAEAEA;
	color:#BBBBBB;
	border:none;
}
.category-more-news .pagination > .active > a{
	border:none;
	color:#000000;
}
.pagination > .active > a:hover, .category-more-news  .pagination > li  > a:hover{
	background:#EAEAEA;
	color:#000000;
}

.grameen-economic-top{
	padding-bottom:35px;
}
.grameen-economic{
	position:relative:
}
.grameen-economic .title-cat h2{
	line-height:32px;
}
.grameen-economic .image_wrapper{
	height:244px;
}
.ponno-bazar-top{
	position:relative;
	padding-bottom:45px;
}
.ponno-bazar-top .image_wrapper{
	height:210px; 
 }
.ponno-bazar-top  h3{
	margin-top:0;
}
.ponno-bazar-top  p{
	color:#000000;
    font-size:17px;
	line-height:30px;
	
  }
.category-section .btn-detail-ponno{
	 color:#FF4441;
 }
.ponno-bazar-bottom .image_wrapper{
	height:75px;
}

.ponno-bazar-bottom h3{
	margin-top:0;
	font-weight:bold;
	font-size:15px;
}
.ponno-bazar-line{
	margin-bottom:35px;
}

.others{
	position:relative;
	margin-bottom:45px;
}
.others .image_wrapper{
	height:184px;
}
.category-section .others .title-cat {
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding-left: 10px;
	left:0;
	right:0;
}
.industry-business-top{
	position:relative;
}
.industry-business-top .image_wrapper{
	height:184px;
}
.category-section .industry-business-top .title-cat {
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    padding-left: 10px;
	left:0;
	right:0;
}
.industry-business p{
	padding-top:25px;
	font-size:18px;
	line-height:30px;
	color:#000000;
}

                                                          /* video and audio gallery page */
														  
.video-gallery{
	margin-bottom:40px;
}
.video-gallery-section .fa-play-circle:hover{
	color:#12B3EE;
}
.album-box h3{
	font-size:20px;
	line-height: 30px;
}
.online-poll-section h4{
	line-height:26px;
}
.latest-video .title-cat{
	right: 15px;
}
.detail-latest-section .detail-latest{
	margin-top:0px;
}
.detail-latest{
	margin-top:30px;
}
.pollresult-section {
	background: rgba(249, 247, 247, 0.7);
}
.pollresult-section h4{
	margin-top:15px;
}

                        /* Others */
						
						
.archive-news-list.most-read-news-list li {
    position: relative;
    padding-left: 0px;
}





